APP_ENVIRONMENT=development
DEFAULT_TIMEOUT_SECONDS=5
RETRY_MAX_ATTEMPTS=3
RETRY_BASE_DELAY_SECONDS=0.25
CIRCUIT_FAILURE_THRESHOLD=5
CIRCUIT_RECOVERY_TIMEOUT_SECONDS=30
RATE_LIMIT_PER_SECOND=20
BULKHEAD_MAX_CONCURRENCY=10
